<div>
  <div>
    <h1>
      Photo Details
    </h1>

   

    <dl>

      <dt>
        Image
      </dt>
      <dd>
         <img src="<%= @the_photo.image %>">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.poster.username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

    <dt>
        Fans
      </dt>
      <dd>
        <% @the_photo.fans.each do |fan| %>
        <%= fan.username %>,
        <%end%>
      </dd>

      <dt>
        Add a fan
      </dt>
      <dd>
      
      <% if @current_user != nil%>
          <% if @current_user.likes.where({:photo_id => @the_photo.id}).at(0) == nil %>
                  <form action="/insert_like" method="post">
                            
                              <input id="browser_fan_id" type="hidden" name="input_fan_id" value="<%= @current_user.id %>">

                              <input id="browser_photo_id"  type="hidden" name="input_photo_id" value="<%= @the_photo.id %>">

                    
                              <button>Like</button>
                  </form>
            <%else%>

              <a href="/delete_like/<%= @current_user.likes.where({:photo_id => @the_photo.id}).at(0).id %>">Unlike</a>
            
            <%end%>
      <% end %>  
      </dd>

      <% if @current_user != nil%>
          <% if @the_photo.owner_id == @current_user.id%>
              <dt>
                Edit photo
              </dt>
              <dd>
                      <form action="/modify_photo/<%= @the_photo.id %>" method="post" class="form-horizontal" enctype="multipart/form-data">
                    
                    
                      
                      <label for="browser_input_image">
                        Image URL
                      </label>

                      <input type="file" id="browser_input_image" name="query_image" placeholder="Enter URL for the image..." class="form-control">
                  
                    
                    
                      <label for="caption_box">
                        Caption
                      </label>

                      <textarea id="caption_box" name="query_caption" rows="2" placeholder="Enter a caption for the photo"></textarea>
                    

                    <button>
                      Update photo
                    </button>
                  </form>
              </dd>

              <dt>
                Delete photo
              </dt>
              <dd>
                <a href="/delete_photo/<%= @the_photo.id %>">
                        Delete this photo
                      </a>
              </dd>
          <%end%>
        <% end %>
    </dl>
  </div>
</div>

<div>
  <div>
    
    
<h2>
      Comments
</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @the_photo.comments.each do |comment| %>
  <tr>
    <td>
      <%= comment.commenter.username %>
    </td>

    <td>
      <%= comment.body %>
    </td>

    <td>
      <%= time_ago_in_words(comment.created_at) %> ago
    </td>
  </tr>
  
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
 
  <input id="browser_photo_id" type="hidden" value="<%= @the_photo.id %>" name="input_photo_id">
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="input_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
    
